* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.convite {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.convite img {
  max-width: 100%;
  height: auto;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.botoes img {
  margin-top: -200%;
  width: 50%;
}
