* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;

  --primary-color: #abd5fb;
  --color-blue: #0a17ba;
  --color-yellow: #ffc100;
  --text-color: #2674aa;
}

html {
  font-size: 20px !important;
}

body {
  background-color: #eee !important;
  background-image: linear-gradient(
    to right,
    var(--color-yellow),
    rgb(227, 223, 95)
  );
}

h2 {
  color: var(--color-blue) !important;
}

h3 {
  color: #fff !important;
}

.carousel-item {
  height: 250px;
  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--text-color)
  );
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.carousel-item h5 {
  font-size: 0.7rem;
  font-weight: bold;
}

.meu_header {
  width: 100%;
  height: 150px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--text-color)
  );
}

.minha_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.minha_logo img {
  height: 300px;
}

.meu_header h1 {
  font-size: 1.5em !important;
}

.meu_header p {
  font-size: 1.2em !important;
  font-weight: 200 !important;
}

.logo_title {
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a:visited {
  color: #fff;
}

.menu a:hover {
  text-decoration: none;
  color: var(--color-blue);
}

.menu a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.banner {
  padding: 100px;
  width: 100%;
  height: 600px;
  font-size: 1.5em;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-lancamento-de-foguete-com-fumaca-ou-nuvens_1017-33467.jpg?w=2000");
  background-size: cover;
}

.banner h1 {
  color: #fff !important;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: bold !important;
}

.banner p {
  color: var(--text-color) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.banner a:visited {
  color: var(--text-color);
  background-color: #eee;
}

.banner a:hover {
  text-decoration: none;
  background-color: var(--color-yellow);
  color: var(--color-blue);
}

.banner a {
  text-decoration: none;
  font-size: 0.6em;
  padding: 5px;
  color: #fff;
  background-color: #eee;
  color: var(--text-color);

  border-radius: 5px;
}

.apresentacao {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

.apresentacao img {
  width: 550px;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-left: 50px;
}

.servicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meu_card {
  width: 200px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meu_card img {
  height: 50px;
  width: 50px;
}

.meu_card h2 {
  text-align: justify-all;
  font-weight: bold;
  font-size: 1.2em;
}

.linha {
  height: 1px;
  width: 100%;
  border: 1px solid #000;
}

.linha1 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.linha2 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.depoimentos {
  width: 100%;
  padding: 100px;
  padding-top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel {
  width: 300px;
  box-shadow: 10px 5px 5px 1px rgb(98, 89, 89);
}

.carousel p {
  font-size: 0.7rem;
}

p {
  margin-bottom: 0rem !important;
}

.nossos_clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  padding-top: 0px;
}

.clientes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all_clientes {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.clientes img {
  width: 200px;
}

.clientes2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clientes2 img {
  width: 250px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--text-color)
  );
  padding: 30px;
}

.formulario h2 {
  color: #fff !important;
}

.formulario p {
  color: #fff;
}

.formulario img {
  height: 250px;
}

.elementos_form {
  display: flex;
  flex-direction: column;
}

input {
  width: 400px;
}

textarea {
  width: 400px;
}

footer {
  width: 100%;
  background-color: var(--color-blue);
  color: #fff;
  text-align: center;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 10px;
  margin-bottom: 0px;
  background-color: #fff;
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

.box h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);

  font-size: 1rem;
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down2 {
    position: relative;
    top: -150px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}

input[type="button"] {
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  border-radius: 5px;
}
