@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  --primary-color: #abd5fb;
  --color-blue: #4125d9;
  --color-yellow: #ffc100;
  --text-color: #2674aa;
}

html {
  font-size: 15px !important;
}

body {
  background-color: #fff !important;
}

h2 {
  color: #000 !important;
  font-weight: bold !important;
}

h3 {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.3rem !important;
}

.carousel-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.carousel-item h5 {
  font-size: 0.8rem;
  font-weight: bold;
}

.meu_header {
  width: 100%;
  height: 100px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: fixed;
}

.minha_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.minha_logo img {
  height: 200px;
}

.meu_header h1 {
  font-size: 1em !important;
}

.meu_header p {
  font-size: 1em !important;
  font-weight: 200 !important;
}

.logo_title {
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a:visited {
  color: #fff;
}

.menu a:hover {
  text-decoration: none;
  color: #000;
}

.menu a {
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.contato {
  padding: 5px !important;
  border-radius: 5px !important;
  background-color: #ff5300 !important;
}

.main {
  position: relative;
  top: 0px;
}

.banner {
  font-size: 1.5em;
  /*background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-lancamento-de-foguete-com-fumaca-ou-nuvens_1017-33467.jpg?w=2000");
  */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner h1 {
  color: var(--color-blue) !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 300px !important;
  font-weight: bold !important;
}

.banner p {
  color: #fff !important;
  padding: 0 !important;
  margin: 0 !important;
}

.banner a:visited {
  color: #fff;
  background-color: #fff;
}

.banner a:hover {
  text-decoration: none;
  background-color: var(--color-blue);
  color: #000;
}

.banner a {
  text-decoration: none;
  font-size: 0.6em;
  padding: 5px;
  color: #fff;
  border-radius: 5px;

  position: absolute;
  z-index: 0;
  left: 20%;
  margin-top: 20%;
}

.apresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentacao img {
  max-width: 100%;
  height: auto;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-left: 50px;
}

.servicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #fff;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  background-color: #fff;
  margin: 40px;
  padding: 40px;
}

.wrapper div {
  margin: 20px;
  padding: 20px;
  background-color: rgb(208, 206, 206);
  border-radius: 15px;
}

.wrapper p {
  margin-top: 10px;
  font-weight: 500;
  word-wrap: break-word;
}

.meio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meio h2 {
  margin-top: 30px;
}

.meio img {
  max-width: 100%;
  height: auto;
}

.depoimentos {
  margin-left: 35px;
  margin-right: 35px;
  padding: 100px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #343a40;
}

.depoimentos h2 {
  color: var(--color-yellow) !important;
}

.carousel {
  width: 500px;
  height: 200px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #000;
  font-weight: bold !important;
}

.carousel p {
  font-size: 0.8rem;
  font-weight: normal;
}

p {
  margin-bottom: 0rem !important;
}

.meio img {
  max-width: 100%;
  height: auto;
}

.nossos_clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.clientes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all_clientes {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.clientes img {
  width: 200px;
}

.clientes2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clientes2 img {
  width: 250px;
}

.botao_cliente a {
  background-color: var(--color-blue);
  border-radius: 5px;
  font-size: 1.3rem !important;
  padding: 10px;
}

.botao_cliente a:visited {
  color: #fff;
  background-color: var(--color-blue);
}

.entrar_em_contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}

.entrar_em_contato h2 {
  color: #fff !important;
  margin-top: -20%;
}

.entrar_em_contato img {
  max-width: 100%;
  height: auto;
}

.entrar_em_contato a {
  color: #fff;
}

footer {
  width: 100%;
  color: #fff;
}

.info_footer {
  background-color: var(--color-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.info_footer img {
  max-width: 50%;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  .formulario {
    flex-direction: column;
  }

  .clientes {
    flex-direction: column;
  }

  .clientes2 {
    flex-direction: column;
  }

  .texto {
    padding-left: 0px !important;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 683px) {
  input {
    width: 200px;
  }

  textarea {
    width: 200px;
  }

  .all_clientes img {
    width: 100px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

@media (max-width: 450px) {
  .meu_header {
    align-items: center;
    justify-content: center;
    padding: 0%;
    height: auto;
  }

  h2 {
    font-size: 0.5rem !important;
  }

  .wrapper {
    font-size: 0.5rem !important;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    padding: 5px;
    margin: 5px;
  }

  .wrapper div {
    padding: 10px;
    margin: 10px;
  }

  .wrapper h3 {
    font-size: 0.6rem !important;
  }

  .meu_header img {
    max-width: 50px;
    height: auto;
  }
  .contato {
    font-size: 0.4rem !important;
  }

  .meu_header a {
    font-size: 0.4rem;
  }

  .apresentacao img {
    width: 90%;
  }

  .carousel {
    width: 250px;
    height: auto;
  }

  .banner {
    height: auto;
    width: auto;
  }

  .banner h1 {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px !important;
  }

  .texto {
    padding-left: 0px;
  }

  .entrar_em_contato p {
    font-size: 0.5rem;
  }

  .info_footer {
    font-size: 0.5rem;
  }

  .depoimentos {
    margin: 0px !important;
  }

  .info_footer {
    margin: 0px !important;
  }
}

@media (max-width: 1019px) {
  .all_clientes img {
    width: 150px;
  }

  .box {
    width: auto;
  }
}

@media (min-width: 950px) {
  .header p {
    width: 30%;
  }
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
