@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  --primary-color: #abd5fb;
  --color-blue: #4125d9;
  --color-yellow: #ffc100;
  --text-color: #2674aa;
}

html {
  font-size: 15px;
}

p {
  color: #fff;
}

h1 {
  color: #fff !important;
}

strong {
  color: #ffc100;
}

label {
  color: #fff;
}

@media only screen and (max-device-width: 400px) {
  body {
    background-image: url("../../img/fundo.png");
  }

  header {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    margin-top: 30px;
    width: 350px;
    height: 153px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: justify;
  }

  .modelos {
    margin-top: 40px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 10px;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  label {
    padding: 5px;
  }

  input[type="text"] {
    padding: 15px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  button {
    background-color: black;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  button:hover {
    background-color: #222;
  }
}
